<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="https://cdn.w600.comps.canstockphoto.com/bicycle-icon-bike-vector-isolated-on-eps-vectors_csp51128439.jpg" sizes="16x16">
  <title>Rental_Hire</title>
  <base href="/">
  <link rel="stylesheet" href="details.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <h1 class="navbar-brand mb-0 h1">Rental</h1>


    <div class="dropdown">
      <i class="fas fa-user fa-2x dropbtn"></i>
      <div class="dropdown-content">
        <a class="dropdown" href="/profile">Profile</a>
        <a class="dropdown" href="/users/logout">SignOut</a>
      </div>
    </div>
  </nav>


    <% products.forEach((item) => { %>
      <img  src="/uploads/images/<%=item.image%>" alt="Card image cap">
        <div class="item">
          <p >Rating: <%=item.rating%></h5>
          <p >Pincode: <%=item.pincode%></h5>
          <p>price per day:- <%=item.cost%></p>
          <p>Owner:<%=item.owner.name%></p>
          <p>Email:     <%=item.owner.email%></p>
          <p>Contact:   <%=item.owner.phone%></p>
          <% if(locals.user.toString()===item.owner.toString() && item.state==="2") { %>
             <p>Renter:<%=item.renter.name%></p>
             <p>Renter Email: <%=item.renter.email%></p>
             <p>Renter Contact:   <%=item.renter.phone%></p>
          <% } %>
          <br>
          <% if(locals.user.toString()!=item.owner.toString() && item.state==="1") { %>
            <a class="btn btn btn-outline-info" href="/order/<%=item._id%>">Buy Now</a>
          <% } %>
        </div>
    <% }); %>



</body>

</html>
